<div class="navbar-text">
	<span title="Enclosure Temperature">Temp:</span>
	<span data-bind="attr: { title: 'Enclosure Temperature' }, html: temperature"></span>°C
	<span title="Enclosure Humidity">Humidity:</span>
	<span data-bind="attr: { title: 'Enclosure humidity' }, html: humidity"></span>%
</div>
