<div class="navbar-text">
	Temp:
	<span data-bind="attr: { title: 'Enclosure Temperature' }, html: temperature"></span>
	Humidity:
	<span data-bind="attr: { title: 'Enclosure humidity' }, html: humidity"></span>
</div>
